Testing/ESP32 Tests/Esp32_oscilloscope/*
**/.pio/*
**/.vscode/*
/Interfaz/.vscode/
*.log
*.raw
.idea/
Interfaz/__pycache__
*.plt
*.__pycache__
*.pyc
/.idea
**/build/*
**/History/*
Testing/ESP32 Tests/ESP-IDF Examples/*
